<div class="footer-container">
  <div class="long-screen-fix"></div>

  <div class="footer-decoration">
    <img src="{{ site.baseurl }}/media/bgskyline.png">
  </div>

  <footer class="site-footer">


    <div class="wrapper">

      <h2 class="footer-heading">{{ site.title }}</h2>

      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>© {{ site.title }}</li>
            <li>{{ site.email | create_mailto_link }}</li>
            <li>Facebook: <a href="https://facebook.com/OxfordHack2019">OxfordHack2019</a></li>
          </ul>
        </div>

        <div class="footer-col footer-col-2">
          <!--<ul class="social-media-list">
            {% if site.data.social-media %}
            {% assign sm = site.data.social-media %}
            {% for entry in sm %}
            {% assign key = entry | first %}
            <li>
                <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i>{{ sm[key].id }}</a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>-->
        </div>

        <div class="footer-col footer-col-3">
          <p>{{ site.description }}</p>
        </div>
      </div>

    </div>

  </footer>
</div>
