#site-logo {
    height: $navbar-height - 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}


/*@include media-query($on-palm) {
    body {
    }
}*/

@include not-media-query($on-palm) {
    .site-nav {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: 15px;
    }

    .wrapper {
        position: relative;
    }
}

.site-nav .trigger .active {
    font-weight: bold;
}

.footer-decoration {
    width: 100%;
}

.header-decoration {
    width: 100%;
    max-height: $navbar-height;
    position: absolute;
    z-index: -1;
}

.site-header {
    z-index: 10;
}

.committee-image-box {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.committee-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sponsors-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    //text-align: center;

    &.sponsors-platinum {
        border-bottom: 3px solid #c2bfc0;
    }

    &.sponsors-gold {
        border-bottom: 3px solid #c3aa50;
    }

    &.sponsors-silver {
        border-bottom: 3px solid #a4a4a4;
    }

    &.sponsors-bronze {
        border-bottom: 3px solid #b56e20;
    }

    &.sponsors-partner {
        border-bottom: 3px solid #000000;
    }

    & img {
        max-width: 50px;
        margin-right: $spacing-unit;
    }
}

.sponsors-child img {
    width: 100%;
}

.platinum-image-container {
    margin-bottom: $spacing-unit;
}

.sponsor-description {
    text-align: justify;
}

.tagline-container {
    @include media-query($on-palm) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    $margin-total: 69vh;
    $margin-top: 28vh;
    margin-top: $margin-top;
    margin-bottom: $margin-total - $margin-top;
}

#tagline {
    @include media-query($on-palm) {
        font-size: 7.7vw;
    }
    font-size: 54px;
}

.description {
    @include media-query($on-palm) {
        font-size: 6vw;
    }
    font-size: 30px;
    margin-bottom: 100px;
}

.description.date-venue, .description.stats {
    color: #bababa;
}

.description, .register-button {
    text-align: center;
}

.register-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.register-button input {
    @include not-media-query($on-palm) {
        padding: 30px 45px 30px 45px;
    }
    font-size: 28px;
    margin-bottom: 100px;
}

.pure-button-primary {
    background-color: $brand-color !important;
}

.faq-answer {
    margin-bottom: 50px;
}

.emphasis {
    color: $brand-color !important;
    font-size: 24px;
}

.committee-description {
    margin-bottom: 50px;
}

#mlh-trust-badge {
    @include media-query($on-palm) {
        top: $navbar-height;
        z-index: 9;
    }

    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: 30px;
    top: 0;
    width: 10%;
    z-index: 11;

    img {
        width: 100%;
    }
}

#fb-icon {
    @include media-query($on-palm) {
        display: none;
    }

    position: fixed;
    top: 54px;
    right: 145px;
    width: 24px;
}

.faq-questions {
    border: 1px white solid;
    margin-bottom: 50px;
}

.faq-questions-title {
    margin-left: 1em;
    padding: 0.2em 0.8em;
}

#register-questions {
    list-style: none;
}

input:not([type=file]):not(.button), textarea {
    background-color: white;
    color: black;
}

.hide {
    display: none;
}

.form-entry {
    margin-bottom: 20px;
}

.padding-fix {
    height: 0;
    margin-bottom: 100vh;
}

#form3 h3 {
    margin-top: 50px;
    font-size: 28px;
}

#form3 small {
    font-size: 14px;
}

#duck-faq {
    height: 40vw;
    max-height: 350px;
    float: right;
}

#duck-home {
    & img {
        @include media-query(600px) {
            max-width: 50vw;
        }
        max-width: 300px;
        float: right;
    }
    padding-bottom: 100px;
}

.stat-icon img {
    height: 32px;
    fill: #bababa;
}

#countdown {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

//.sponsors-child:not(:last-child) {
//    margin-bottom: $spacing-unit;
//}

.sponsors-child {
    margin-bottom: $spacing-unit;
}

.hide-sm {
    @include not-media-query(35.5em) {
        display: none;
        visibility: hidden;
        height: 0;
    }
    & img {
        width: calc(100% - 100px);
        padding-left: 50px;
        padding-right: 50px;
    }
}

.show-sm {
    @include media-query(35.5em) {
        display: none;
        visibility: hidden;
        height: 0;
    }
}

#register-button {
    pointer-events: all;
}
